.about-image-div {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-us-description h1 {
    color: #23238b;
    font-weight: 700;
    font-size: 50px;
}

.about-us-description p {
    line-height: 2;
}

.about-btn {
    background-color: #23238b;
    color: white;

}